body {
    width: 80%;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.liste {
    display: flex;
    flex-direction: column;
}

article {
    margin-top: 20px;
}

#bookInfo {
    display: flex;
    flex-direction: column;
}

/* Style des cartes d'ouvrages */
.book-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
  }
  
  .book-card img {
    max-width: 100%;
    height: auto;
  }
  
  /* Style des titres d'ouvrages */
  .book-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  /* Style des informations supplémentaires */
  .book-info {
    font-size: 14px;
    margin: 5px 0;
  }